@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba( 108, 192, 238, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.myShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}